<template>
    <div class="container background-color-white p-2 mt-2">
        <h5>Форма обратной связи</h5>
        <div class="bd-example">
            <form @submit.prevent="submit">
                <div class="form-group">
                    <label for="name">Ваше имя</label>
                    <input type="name" class="form-control" v-bind:class="{'is-invalid':('name' in errors)}" id="name"
                           placeholder="Ваше имя" v-model="form.name">
                    <template v-if="'name' in errors">
                        <div class="invalid-feedback">
                            <p v-for="item in errors.name">{{ item }}</p>
                        </div>
                    </template>
                </div>
                <div class="form-group">
                    <label for="phone">Номер телефона</label>
                    <input type="phone" class="form-control" id="phone"
                           v-bind:class="{'is-invalid':('phone' in errors)}" placeholder="Номер телефона"
                           v-model="form.phone">
                    <template v-if="'phone' in errors">
                        <div class="invalid-feedback">
                            <p v-for="item in errors.phone">{{ item }}</p>
                        </div>
                    </template>
                </div>
                <div class="form-group">
                    <label for="treatment">Ваше обращения</label>
                    <textarea class="form-control" v-bind:class="{'is-invalid':('treatment' in errors)}" id="treatment"
                              rows="3" v-model="form.treatment"></textarea>
                    <template v-if="'treatment' in errors">
                        <div class="invalid-feedback">
                            <p v-for="item in errors.treatment">{{ item }}</p>
                        </div>
                    </template>
                </div>
                <div class="form-group" v-if="message !== null">
                    <div class="alert alert-secondary" role="alert">
                        {{ message }}
                    </div>
                </div>
                <div class="form-group text-right">
                    <button type="submit" class="btn btn-primary">Отправить</button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Treatment",
        data: function () {
            return {
                message: null,
                isSubmit: false,
                errors: {},
                form: {
                    name: '',
                    phone: '',
                    treatment: ''
                }
            }
        },
        methods: {
            beforeSubmit: function (data) {
                if ('message' in data)
                    this.message = data['message'];
                if ('errors' in data)
                    this.errors = data['errors'];
            },
            submit: function () {
                let config = this.getForm();
                this.message = null;
                this.errors = {};
                axios.post('/api/treatment', config.formData, config.config)
                    .then(response => {
                        this.beforeSubmit(response.data);
                        this.form.name = "";
                        this.form.phome = "";
                        this.form.treatment = "";
                    })
                    .catch(error => {
                        this.beforeSubmit(error.response.data);
                    })
            },
            getForm: function () {
                const formData = new FormData();
                for (let index in this.form)
                    formData.append(index, this.form[index]);

                return {
                    formData: formData,
                    config: {'content-type': 'multipart/form-data'}
                }
            },
            isVilid: function () {

            }
        }
    }
</script>

<style scoped>

    .background-color-white {
        background-color: white;
        border-radius: 5px;
    }
</style>
